<div class="login-container">
  <div class="login-box">
    <h2 class="login-header">Login</h2>
    <form action="/admin/login" method="post">
      {{#if error}}
        <div class="alert alert-danger">{{ error }}</div>
      {{/if }}
      <div class="input-field">
        <label class="input-text">Username</label>
        <input type="text" name="username" placeholder="Username" required>
        <small class="input-help"></small>
      </div>
      <div class="input-field">
        <label class="input-text">
          Password
          <a href="#">Forgot Password?</a>
        </label>
        <input type="password" name="password" placeholder="Password" required>
        <small class="input-help"></small>
      </div>
      <div class="input-field">
        <button class="btn" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>