<div class="grid">
  {{> header}}
  {{> navigation }}
  <main class="main">
    <div class="header">
      <div>
        <h2 class="header-title">
          Manage Users
        </h2>
        <p>Create,View ,Update ou Delete a user</p>
      </div>
      <div class="header-actions">
        <a href="/admin/users/new" class="btn btn-primary">Create new user</a>
      </div>
    </div>
    <div class="body">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Users list</h4>
        </div>
        <div class="card-body">
          {{!-- {{#if msg}}
            <div class="alert">
              <p>{{msg}}</p>
            </div>
          {{/if}} --}}
          <table class="table">
            <thead>
              <tr>
                <th>username</th>
                <th>role</th>
                <th>actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each users}}
                <tr>
                  {{#dataValues}}
                      <td>{{username}}</td>
                      <td>{{role}}</td>
                      <td>
                        <div class="actions">
                          <a class="btn btn-outline-primary" href="/admin/users/{{id}}/view">view</a>
                        </div>
                      </td>
                  {{/dataValues}}
                </tr>
              {{/each }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>