<aside class="sidenav">
  <a href="/admin/dashboard" class="sidenav-item">
    <svg fill="#000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
      <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M15,5c0.552,0,1,0.448,1,1 c0,0.552-0.448,1-1,1s-1-0.448-1-1C14,5.448,14.448,5,15,5z M6,16c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1s1,0.448,1,1 C7,15.552,6.552,16,6,16z M9.343,22.071c-0.391,0.391-1.024,0.391-1.414,0c-0.391-0.391-0.391-1.024,0-1.414 c0.391-0.391,1.024-0.391,1.414,0C9.734,21.047,9.734,21.681,9.343,22.071z M9.343,9.343c-0.391,0.391-1.024,0.391-1.414,0 c-0.391-0.391-0.391-1.024,0-1.414c0.391-0.391,1.024-0.391,1.414,0C9.734,8.319,9.734,8.953,9.343,9.343z M13.586,16.414 c-0.781-0.781-0.781-2.047,0-2.828c0.491-0.491,4.477-3.36,7.372-5.425c0.581-0.414,1.296,0.301,0.881,0.881 c-2.065,2.895-4.934,6.881-5.425,7.372C15.633,17.195,14.367,17.195,13.586,16.414z M22.071,22.071 c-0.391,0.391-1.024,0.391-1.414,0s-0.391-1.024,0-1.414c0.391-0.391,1.024-0.391,1.414,0 C22.462,21.047,22.462,21.681,22.071,22.071z M24,16c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1s1,0.448,1,1 C25,15.552,24.552,16,24,16z" />
    </svg>
    Dashboard
  </a>
  <a href="/admin/parks" class="sidenav-item">
    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
      <path d="M 6 4 C 4.895 4 4 4.895 4 6 L 4 24 C 4 25.105 4.895 26 6 26 L 24 26 C 25.105 26 26 25.105 26 24 L 26 6 C 26 4.895 25.105 4 24 4 L 6 4 z M 10.933594 9 L 16.189453 9 C 18.767453 9 20.513672 10.679812 20.513672 13.257812 C 20.514672 15.810813 18.675859 17.482422 16.005859 17.482422 L 13.984375 17.482422 L 13.984375 21 L 10.933594 21 L 10.933594 9 z M 13.986328 11.345703 L 13.986328 15.179688 L 15.365234 15.179688 C 16.662234 15.179688 17.427734 14.513625 17.427734 13.265625 C 17.427734 12.001625 16.671813 11.345703 15.382812 11.345703 L 13.986328 11.345703 z" />
    </svg>
    Parks
  </a>
  <a href="/admin/users" class="sidenav-item">
    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
      <path d="M 15 6 C 11.818 6 10.5 8.041 10.5 10.5 C 10.5 11.328 10.896484 12.160156 10.896484 12.160156 C 10.737484 12.252156 10.473062 12.544547 10.539062 13.060547 C 10.662062 14.022547 11.079703 14.265156 11.345703 14.285156 C 11.446703 15.183156 12.413 16.333 12.75 16.5 L 12.75 17.841797 C 12 20.091797 6 19.75 6 25 L 24 25 C 24 19.75 18 20.091797 17.25 17.841797 L 17.25 16.5 C 17.588 16.333 18.553297 15.183156 18.654297 14.285156 C 18.920297 14.265156 19.337938 14.022547 19.460938 13.060547 C 19.526937 12.543547 19.262516 12.252156 19.103516 12.160156 C 19.103516 12.160156 19.5 11.409 19.5 10.5 C 19.5 8.679 18.785 7.125 17.25 7.125 C 17.25 7.125 16.717 6 15 6 z M 22.5 7.9980469 C 21.988 7.9980469 21.552344 8.0906563 21.152344 8.2226562 C 21.371344 8.9016563 21.5 9.659 21.5 10.5 C 21.5 11.032 21.416547 11.519734 21.310547 11.927734 C 21.455547 12.356734 21.505359 12.8285 21.443359 13.3125 C 21.302359 14.4135 20.874891 15.161812 20.337891 15.632812 C 20.181891 16.010813 19.968281 16.368937 19.738281 16.710938 C 20.022281 17.293937 20.438 17.812969 20.625 17.917969 L 20.625 17.929688 C 22.662 18.884688 26 20.49 26 25 L 30 25 C 30 20.042 25 20.753906 24.375 18.628906 L 24.375 17.916016 C 24.656 17.758016 25.460922 16.672219 25.544922 15.824219 C 25.765922 15.805219 26.114797 15.576969 26.216797 14.667969 C 26.271797 14.179969 26.051922 13.905359 25.919922 13.818359 C 25.919922 13.818359 26.25 13.107 26.25 12.25 C 26.25 10.53 25.654 9.0625 24.375 9.0625 C 24.375 9.0625 23.931 7.9980469 22.5 7.9980469 z M 7.5 8 C 6.069 8 5.625 9.0625 5.625 9.0625 C 4.346 9.0625 3.75 10.531953 3.75 12.251953 C 3.75 13.109953 4.0800781 13.818359 4.0800781 13.818359 C 3.9470781 13.904359 3.7282031 14.179969 3.7832031 14.667969 C 3.8852031 15.576969 4.2340781 15.807172 4.4550781 15.826172 C 4.5390781 16.674172 5.344 17.759969 5.625 17.917969 L 5.625 18.628906 C 5 20.752906 0 20.042 0 25 L 4 25 C 4 20.49 7.338 18.885688 9.375 17.929688 L 9.375 17.916016 C 9.562 17.811016 9.9777187 17.294938 10.261719 16.710938 C 10.031719 16.368938 9.8181094 16.008859 9.6621094 15.630859 C 9.1251094 15.160859 8.6966406 14.4125 8.5566406 13.3125 C 8.4936406 12.8225 8.5453594 12.343156 8.6933594 11.910156 C 8.5853594 11.499156 8.5 11.011 8.5 10.5 C 8.5 9.673 8.6170781 8.91275 8.8300781 8.21875 C 8.4350781 8.08975 8.005 8 7.5 8 z" />
    </svg>
    Users
  </a>
  <a href="/admin/payments" class="sidenav-item">
    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
      <path d="M 4 5 C 2.895 5 2 5.895 2 7 L 2 8 L 28 8 L 28 7 C 28 5.895 27.105 5 26 5 L 4 5 z M 2 11 L 2 23 C 2 24.105 2.895 25 4 25 L 26 25 C 27.105 25 28 24.105 28 23 L 28 11 L 2 11 z M 5 13 L 13 13 L 13 14 L 5 14 L 5 13 z" />
    </svg>
    payments
  </a>
  <a href="/admin/logout" class="sidenav-item">
    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
      <path d="M 15 3 C 12.445077 3 10.0833 3.8185753 8.1464844 5.1816406 A 1.0002808 1.0002808 0 1 0 9.296875 6.8183594 C 10.918059 5.6774247 12.870923 5 15 5 C 20.534534 5 25 9.4654664 25 15 C 25 20.534534 20.534534 25 15 25 C 12.870923 25 10.918059 24.322575 9.296875 23.181641 A 1.0002805 1.0002805 0 0 0 8.1464844 24.818359 C 10.0833 26.181425 12.445077 27 15 27 C 21.615466 27 27 21.615466 27 15 C 27 8.3845336 21.615466 3 15 3 z M 6.9804688 9.9902344 A 1.0001 1.0001 0 0 0 6.2929688 10.292969 L 2.3808594 14.205078 A 1.0001 1.0001 0 0 0 2.3828125 15.796875 L 6.2929688 19.707031 A 1.0001 1.0001 0 1 0 7.7070312 18.292969 L 5.4140625 16 L 16 16 A 1.0001 1.0001 0 1 0 16 14 L 5.4140625 14 L 7.7070312 11.707031 A 1.0001 1.0001 0 0 0 6.9804688 9.9902344 z" />
    </svg>
    Logout
  </a>
</aside>