<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Backend</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://use.typekit.net/mid5sch.css">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0a80efeb65.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
    </head>
    <body>
        {{{body}}}
        <script src="/js/model.js"></script>
        <script src="/js/mqtt.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>